:root {
    --eggshell: #edf6f9;
    --beige: #ffddd2;
    --deepbeige: #e29578;
    --teal: #83c5be;
    --deepteal: #006d77;

}
body {
    background-color: var(--beige);
    font-family:Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
    padding: 10px;
    margin: 5px 5px;
    background-color: var(--teal);
    border: var(--deepbeige) solid 5px;
    border-radius: 3px;
    display: flex;
}
header span{
    font-size: 20px;
    color: var(--eggshell);
    font-weight: bold;
    text-decoration: underline;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}
button {
    background-color: var(--deepbeige);
    color: white;
    padding: 5px;
    font-size: 20px;
}
.box {
    width: 100%;
    padding: 1em;
    margin: 5px 5px;
    background-color: var(--teal);
    text-align: center;
    border: var(--deepbeige) solid 5px;
    border-radius: 3px;
}
#timer {
    margin-left: 25%;
    text-decoration: none;
}
#score {
    margin-left: 25%;
    text-decoration: none;
}
#topText {
    font-size: 3rem;
    color: var(--deepteal);
}
#startText {
    margin: 3em 7em;
    color: white;
}
#endText {
    margin: 1em 3em;
    color: white;
    font-size: 2em;
}
#startButton {
    background-color: var(--deepbeige);
    color: white;
    padding: 10px 50px;
    font-size: 30px;
}
#question {
    color: white;
    margin-top: 2em;
}
.displayOnStart {
    display:none;
}
.buttonWrapper {
    width: 100%;
    margin: 2em;
}
.displayOnEnd {
    display: none;
    margin: 1em auto;
}
.popup {
    position: fixed;
    z-index: 1;
    margin: 2% auto;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    width: 80%;
    height: 80%;
    background-color: var(--deepteal);
    border: 10px solid var(--deepbeige);
    border-radius: 3px;
    visibility: hidden;
    box-shadow: 3px 5px;
    overflow: hidden;
}
#popupText {
    margin: 0.75em 2em; 
    font-size: 2.5em;

    color: white;
    border: 5px solid var(--deepbeige);
    background-color: var(--teal);
}
.scoreList {
    margin: 1em 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    line-height: 2em;
}

@media screen and (max-width: 576px) {
    #timer {
        margin-left: 10%;
        text-decoration: none;
    }
    #score {
        margin-left: 10%;
        text-decoration: none;
    }
    #startText {
        margin: 3em 4em;
        color: white;
    }
    #popupText {
        margin: 0.75em 1.5em; 
        font-size: 2em;
    }
}


/* .scorePopup {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    cursor: pointer;
}
.scorePopup .scoreText {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 50%;
    margin-left: -80px;
}
.scorePopup .show {
    visibility: visible;
} */